@import '~antd/dist/antd.min.css';

/* @import '~react-datasheet-grid/dist/style.css'; */
.logo {
  height: 32px;
  margin: 16px;
  background: rgba(20, 179, 241, 0.3);
}
.site-layout .site-layout-background {
  background: #fff;
}

.custom-sider {
  overflow: 'auto';
  height: '100vh';
  position: 'fixed';
  left: 0;
  top: 0;
  bottom: 0;
  background-color: white;
}

.dynamic-delete-button {
  position: relative;
  top: 4px;
  margin: 0 8px;
  color: #999;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}